{% extends 'base.html' %}

{% block title %}Cart - GoITeens Shop{% endblock %}

{% block content %}
    <h1>Ваша корзина</h1>
    <ul>
      {% for item in cart_items %}
        <li>
          {{ item.product.name }} — {{ item.count }} шт. — {{ item.product.price }} грн

          <form method="post" action="{% url 'remove_from_cart' item.product.id %}">
            {% csrf_token %}
            <button type="submit">Удалить из корзины</button>
          </form>
        </li>
      {% endfor %}
    </ul>
{% endblock %}