{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% load static %}

{% block content %}
  <h3></h3>
  <div class="row">
      <div class="product-card">
        <img src="{% static 'img/' %}{{ product.photo }}" alt="Product image">
        <h5>{{ product.name }}</h5>
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <h3></h3>
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
          </form>
        {% endif %}

        {% if user.is_superuser %}
          <form method="post" action="{% url 'delete_product' product.id %}">
            {% csrf_token %}
            <button type="submit">Удалить товар</button>
          </form>
        {% endif %}
        <h3></h3>
        <h3></h3>
        {% if user.is_authenticated %}
          <form method="post" id="comment-form">
              {% csrf_token %}
              {{ comment_form }}
              <button class="btn btn-primary" type="submit">Create</button>
          </form>
        {% endif %}
        <h3></h3>
        <h3>Reviews for {{product.name}}</h3>
        <h3></h3>
        {% for comment in comments %}
            <h5>Comment: {{ comment.content }} | {{ comment.timestamp }}</h5>
            <p>------------------------------------------------------------------</p>
        {% endfor %}
      </div>
  </div>
{% endblock %}

<script>
document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('comment-form');
  if (form) {
    const contentField = document.getElementById('comment-content');
    form.addEventListener('submit', function (e) {
      if (!contentField || !contentField.value.trim()) {
        alert("Коментар не може бути порожнім!");
        e.preventDefault();
      }
    });
  }
});
</script>