{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Product List{% endblock %}

{% block content %}
<main>
  <section>
    <ul>
      {% for product in all_product %}
        <li>
          <p>
            <img src="{% static 'img/' %}{{ product.photo }}" alt="Product image">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <button>{{ product.price | intcomma }}</button>
            <button>Add to Cart</button>
          </p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <div class="pagination">
    {% if page.has_previous %}
      <a href="?page={{ page.previous_page_number }}">← Назад</a>
    {% endif %}

    <span>Страница {{ page.number }} из {{ page.paginator.num_pages }}</span>

    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">Вперёд →</a>
    {% endif %}
  </div>
</main>
{% endblock %}